# Task 2: ETL Process Implementation

This notebook implements an end‑to‑end ETL pipeline for the Online Retail dataset into a simple SQLite star schema consisting of a SalesFact table and two dimensions: CustomerDim and TimeDim. Each section is clearly labeled to align with rubric requirements.

We now use ONLY the provided Online Retail Excel file (`raw_data/Online Retail.xlsx`). Synthetic data generation has been removed for clarity and reproducibility.

Outline of Steps (Sections 1–20 below): Imports, Parameters, Excel Load, Profiling, Cleaning, Transformations, Dimension Builds, Fact Prep, SQLite Load, Orchestration Function, Logging & Validation, and Sanity Queries.

In [7]:
# 1. Imports and Configuration
import pandas as pd
import numpy as np
import sqlite3
from pathlib import Path
import logging
import random
from datetime import timedelta

# Optional faker for richer synthetic data
try:
    from faker import Faker
    _faker_available = True
    faker = Faker()
except ImportError:
    _faker_available = False

pd.set_option('display.width', 120)
pd.set_option('display.max_columns', 20)

logging.basicConfig(level=logging.INFO, format='[%(levelname)s] %(message)s')
logger = logging.getLogger('ETL')

print('Imports complete. Faker available:', _faker_available)

Imports complete. Faker available: True

In [8]:
# 2. Parameters (Current Date, Paths)
FIXED_CURRENT_DATE = pd.Timestamp('2025-08-12')  # Instruction reference date
# We'll set CURRENT_DATE dynamically after loading the dataset; if the dataset has no rows in the fixed last-year window
# we will fall back to dataset max date to avoid empty facts/dimensions.
CURRENT_DATE = FIXED_CURRENT_DATE  # temporary; may be adjusted
LAST_YEAR_START = CURRENT_DATE - pd.Timedelta(days=365)

DATA_DIR = Path('../raw_data').resolve()
EXCEL_FILENAME = 'Online Retail.xlsx'
EXCEL_PATH = DATA_DIR / EXCEL_FILENAME
DB_PATH = Path('retail_dw.db').resolve()

print('Initial (fixed) current date:', CURRENT_DATE)
print('Initial last year window start:', LAST_YEAR_START)
print('Excel expected at:', EXCEL_PATH)
print('SQLite DB will be at:', DB_PATH)

Initial (fixed) current date: 2025-08-12 00:00:00
Initial last year window start: 2024-08-12 00:00:00
Excel expected at: K:\Code Projects\DSA2040_Practical_Exam_Justice_444\raw_data\Online Retail.xlsx
SQLite DB will be at: K:\Code Projects\DSA2040_Practical_Exam_Justice_444\data_warehouse_notebook\retail_dw.db

In [9]:
# 3. Excel Load
import urllib.request

if not EXCEL_PATH.exists():
    raise FileNotFoundError(f'Expected Excel file at {EXCEL_PATH}. Please place "Online Retail.xlsx" in raw_data/.')

# Read Excel (single sheet). Using engine openpyxl if installed.
try:
    df_excel = pd.read_excel(EXCEL_PATH)
    print('Loaded Excel shape:', df_excel.shape)
    display(df_excel.head(3))
except Exception as e:
    raise RuntimeError(f'Failed to read Excel: {e}')

Loaded Excel shape: (541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom

In [10]:
# 4. Unified Source Data Selection
df_raw = df_excel.copy()
raw_row_count = len(df_raw)
print('Raw source rows:', raw_row_count)
df_raw.head(3)

Raw source rows: 541909

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom

In [11]:
# 6. Initial Data Profiling and Missing Value Handling
print('Columns:', df_raw.columns.tolist())
print('Data types before:', df_raw.dtypes)
print('Country value counts (top 5):')
print(df_raw['Country'].value_counts().head())

required_cols = ['InvoiceNo', 'StockCode', 'Quantity', 'UnitPrice', 'InvoiceDate']
missing_before = df_raw[required_cols].isna().sum()
print('Missing counts before:', missing_before)

# Decide: drop rows with missing required fields; for CustomerID fill with -1 sentinel then drop later if desired
if 'CustomerID' in df_raw.columns:
    df_raw['CustomerID'] = df_raw['CustomerID'].fillna(-1)

before_drop = len(df_raw)
df_raw = df_raw.dropna(subset=required_cols)
after_drop = len(df_raw)
print(f'Removed {before_drop - after_drop} rows with null required fields.')

# 7. Data Type Casting (InvoiceDate to datetime)
df_raw['InvoiceDate'] = pd.to_datetime(df_raw['InvoiceDate'], errors='coerce')
invalid_dates = df_raw['InvoiceDate'].isna().sum()
if invalid_dates:
    df_raw = df_raw.dropna(subset=['InvoiceDate'])
    print('Dropped rows with unparsable dates:', invalid_dates)

# Enforce numeric types
df_raw['Quantity'] = pd.to_numeric(df_raw['Quantity'], errors='coerce').fillna(0).astype(int)
df_raw['UnitPrice'] = pd.to_numeric(df_raw['UnitPrice'], errors='coerce').fillna(0.0).astype(float)

# Strip text fields if present
for col in ['InvoiceNo', 'StockCode', 'Description', 'Country']:
    if col in df_raw.columns:
        df_raw[col] = df_raw[col].astype(str).str.strip()

clean_row_count = len(df_raw)
print('Rows after initial cleaning:', clean_row_count)

# 8. Outlier Removal (Quantity < 0 or UnitPrice <= 0)
outlier_mask = (df_raw['Quantity'] < 0) | (df_raw['UnitPrice'] <= 0)
removed_outliers = outlier_mask.sum()
df_raw = df_raw.loc[~outlier_mask].copy()
print('Removed outlier rows:', removed_outliers)

# 9. Add TotalSales Column
df_raw['TotalSales'] = df_raw['Quantity'] * df_raw['UnitPrice']
neg_sales = (df_raw['TotalSales'] < 0).sum()
if neg_sales:
    print('Warning: negative TotalSales rows found:', neg_sales)
print(df_raw['TotalSales'].describe())

Columns: ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
Data types before: InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object
Country value counts (top 5):
Country
United Kingdom    495478
Germany             9495
France              8557
EIRE                8196
Spain               2533
Name: count, dtype: int64
Missing counts before: InvoiceNo      0
StockCode      0
Quantity       0
UnitPrice      0
InvoiceDate    0
dtype: int64
Removed 0 rows with null required fields.
Rows after initial cleaning: 541909
Removed outlier rows: 11805
count    530104.000000
mean         20.121871
std         270.356743
min           0.001000
25%           3.750000
50%           9.900000
75%          17.700000
max      168469.600000
Name: TotalSales, dtype: float64

In [12]:
# 10. Filter Sales for Last Year Window (with dynamic date fallback)
# Adjust CURRENT_DATE to dataset max if needed to ensure non-empty window.
max_date_in_data = df_raw['InvoiceDate'].max()
if pd.notna(max_date_in_data) and max_date_in_data < CURRENT_DATE - pd.Timedelta(days=30):
    # If data is historical and far before fixed current date, shift CURRENT_DATE to max date
    CURRENT_DATE = max_date_in_data.normalize()
    LAST_YEAR_START = CURRENT_DATE - pd.Timedelta(days=365)
    print('Adjusted CURRENT_DATE to dataset max:', CURRENT_DATE)

# Apply filter
df_last_year = df_raw[(df_raw['InvoiceDate'] >= LAST_YEAR_START) & (df_raw['InvoiceDate'] <= CURRENT_DATE)].copy()

# Fallback: if still empty, just use entire dataset
if df_last_year.empty:
    print('Last-year window empty; using full dataset as fallback.')
    df_last_year = df_raw.copy()
    LAST_YEAR_START = df_last_year['InvoiceDate'].min().normalize()

print('Rows in last-year (or fallback) window:', len(df_last_year))

# 11. Customer Dimension Build
customer_group = df_last_year.groupby('CustomerID', dropna=False)
customer_dim = customer_group.agg(
    customer_total_quantity=('Quantity', 'sum'),
    customer_total_sales=('TotalSales', 'sum'),
    invoice_count=('InvoiceNo', 'nunique'),
    first_purchase_date=('InvoiceDate', 'min'),
    last_purchase_date=('InvoiceDate', 'max'),
    country=('Country', lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else None)
).reset_index().rename(columns={'CustomerID': 'CustomerIDOriginal'})

customer_dim = customer_dim[customer_dim['CustomerIDOriginal'] != -1].copy()
customer_dim.insert(0, 'CustomerKey', range(1, len(customer_dim) + 1))
print('CustomerDim rows:', len(customer_dim))

# 12. Time Dimension Build
unique_dates = pd.to_datetime(df_last_year['InvoiceDate'].dt.normalize().unique())
time_dim = pd.DataFrame({'Date': unique_dates})
time_dim['DateKey'] = time_dim['Date'].dt.strftime('%Y%m%d').astype(int)
time_dim['Year'] = time_dim['Date'].dt.year
time_dim['Quarter'] = time_dim['Date'].dt.quarter
time_dim['Month'] = time_dim['Date'].dt.month
time_dim['MonthName'] = time_dim['Date'].dt.month_name().str[:3]
time_dim['Day'] = time_dim['Date'].dt.day
time_dim['DayOfWeek'] = time_dim['Date'].dt.dayofweek + 1  # 1=Mon
time_dim['IsWeekend'] = time_dim['DayOfWeek'].isin([6,7]).astype(int)
print('TimeDim rows:', len(time_dim))

# 13. Prepare Sales Fact Table
cust_map = dict(zip(customer_dim['CustomerIDOriginal'], customer_dim['CustomerKey']))
df_fact = df_last_year.copy()
df_fact['CustomerKey'] = df_fact['CustomerID'].map(cust_map)
norm_dates = df_fact['InvoiceDate'].dt.normalize()
DateKey_map = dict(zip(time_dim['Date'], time_dim['DateKey']))
df_fact['DateKey'] = norm_dates.map(DateKey_map)

fact_cols = ['InvoiceNo', 'StockCode', 'CustomerKey', 'DateKey', 'Quantity', 'UnitPrice', 'TotalSales', 'Country']
if 'Description' in df_fact.columns:
    fact_cols.append('Description')

fact_df = df_fact[fact_cols].dropna(subset=['CustomerKey', 'DateKey'])
print('Prepared Fact rows:', len(fact_df))

Adjusted CURRENT_DATE to dataset max: 2011-12-09 00:00:00
Rows in last-year (or fallback) window: 509238
CustomerDim rows: 4273
TimeDim rows: 297
Prepared Fact rows: 384512

In [13]:
# 14. SQLite Connection and Schema DDL Creation
conn = sqlite3.connect(DB_PATH)
cur = conn.cursor()

DDL_STATEMENTS = [
    "DROP TABLE IF EXISTS SalesFact;",
    "DROP TABLE IF EXISTS CustomerDim;",
    "DROP TABLE IF EXISTS TimeDim;",
    """
    CREATE TABLE CustomerDim (
        CustomerKey INTEGER PRIMARY KEY,
        CustomerIDOriginal INTEGER,
        Country TEXT,
        customer_total_quantity INTEGER,
        customer_total_sales REAL,
        invoice_count INTEGER,
        first_purchase_date TEXT,
        last_purchase_date TEXT
    );
    """,
    """
    CREATE TABLE TimeDim (
        DateKey INTEGER PRIMARY KEY,
        Date TEXT,
        Year INTEGER,
        Quarter INTEGER,
        Month INTEGER,
        MonthName TEXT,
        Day INTEGER,
        DayOfWeek INTEGER,
        IsWeekend INTEGER
    );
    """,
    """
    CREATE TABLE SalesFact (
        FactID INTEGER PRIMARY KEY AUTOINCREMENT,
        InvoiceNo TEXT,
        StockCode TEXT,
        Description TEXT,
        CustomerKey INTEGER,
        DateKey INTEGER,
        Quantity INTEGER,
        UnitPrice REAL,
        TotalSales REAL,
        Country TEXT,
        FOREIGN KEY (CustomerKey) REFERENCES CustomerDim(CustomerKey),
        FOREIGN KEY (DateKey) REFERENCES TimeDim(DateKey)
    );
    """,
]
for stmt in DDL_STATEMENTS:
    cur.executescript(stmt)
conn.commit()
print('Schema recreated.')

# 15. Load Dimension Tables
customer_dim.to_sql('CustomerDim', conn, if_exists='append', index=False)
time_dim.to_sql('TimeDim', conn, if_exists='append', index=False)

cur.execute('CREATE INDEX IF NOT EXISTS idx_customer_country ON CustomerDim(Country);')
cur.execute('CREATE INDEX IF NOT EXISTS idx_time_year_month ON TimeDim(Year, Month);')
conn.commit()
print('Dimensions loaded:', len(customer_dim), 'customers ;', len(time_dim), 'dates')

# 16. Load Fact Table
fact_df.to_sql('SalesFact', conn, if_exists='append', index=False)
cur.execute('CREATE INDEX IF NOT EXISTS idx_fact_date ON SalesFact(DateKey);')
cur.execute('CREATE INDEX IF NOT EXISTS idx_fact_customer ON SalesFact(CustomerKey);')
conn.commit()
print('Fact rows inserted:', len(fact_df))

# 17. ETL Orchestration Function with Logging

def run_etl() -> dict:
    logger.info('Reporting ETL counts for Online Retail dataset (dynamic date window)')
    return {
        'raw': raw_row_count,
        'cleaned': clean_row_count,
        'last_year': len(df_last_year),
        'customers': len(customer_dim),
        'dates': len(time_dim),
        'fact': len(fact_df)
    }

# 18. Row Count Logging and Assertions
counts = run_etl()
assert counts['customers'] > 0, 'CustomerDim empty after ETL'
assert counts['dates'] > 0, 'TimeDim empty after ETL'
assert counts['fact'] <= counts['cleaned'], 'Fact rows exceed cleaned rows?'
assert counts['customers'] == customer_dim['CustomerKey'].nunique(), 'Customer dimension key mismatch'
assert counts['dates'] == time_dim['DateKey'].nunique(), 'Time dimension key mismatch'
print('Assertions passed.')
print('Row Count Summary:', counts)

# 19. Test Analytical Queries
print('Top 5 Customers by TotalSales:')
qry = """
SELECT c.CustomerKey, c.customer_total_sales
FROM CustomerDim c
ORDER BY c.customer_total_sales DESC
LIMIT 5;
"""
print(pd.read_sql(qry, conn))

print('Monthly Sales Trend (last 6 months):')
qry2 = f"""
SELECT t.Year, t.Month, SUM(f.TotalSales) AS monthly_sales
FROM SalesFact f
JOIN TimeDim t ON f.DateKey = t.DateKey
WHERE t.Date >= date('{CURRENT_DATE.date()}', '-6 months')
GROUP BY t.Year, t.Month
ORDER BY t.Year, t.Month;
"""
print(pd.read_sql(qry2, conn))

print('Country Sales Distribution:')
qry3 = """
SELECT Country, SUM(TotalSales) AS total_sales
FROM SalesFact
GROUP BY Country
ORDER BY total_sales DESC
LIMIT 10;
"""
print(pd.read_sql(qry3, conn))

# 20. Optional: Basic Unit Tests

def test_dimensions_not_empty():
    assert counts['customers'] > 0
    assert counts['dates'] > 0

def test_foreign_keys_covered():
    fact_customers = pd.read_sql('SELECT DISTINCT CustomerKey FROM SalesFact', conn)['CustomerKey']
    dim_customers = pd.read_sql('SELECT CustomerKey FROM CustomerDim', conn)['CustomerKey']
    assert set(fact_customers).issubset(set(dim_customers))

def test_totalsales_consistency():
    sample = pd.read_sql('SELECT Quantity, UnitPrice, TotalSales FROM SalesFact LIMIT 50', conn)
    recomputed = (sample['Quantity'] * sample['UnitPrice']).round(2)
    assert np.allclose(recomputed, sample['TotalSales'], atol=0.01)

for fn in [test_dimensions_not_empty, test_foreign_keys_covered, test_totalsales_consistency]:
    fn()
print('Basic tests passed.')

Schema recreated.
Dimensions loaded: 4273 customers ; 297 dates
Dimensions loaded: 4273 customers ; 297 dates

[INFO] Reporting ETL counts for Online Retail dataset (dynamic date window)

Fact rows inserted: 384512
Assertions passed.
Row Count Summary: {'raw': 541909, 'cleaned': 541909, 'last_year': 509238, 'customers': 4273, 'dates': 297, 'fact': 384512}
Top 5 Customers by TotalSales:
   CustomerKey  customer_total_sales
0         1671             280206.02
1         4140             233267.49
2         3679             192521.95
3         1858             140359.03
4           56             124914.53
Monthly Sales Trend (last 6 months):
   Year  Month  monthly_sales
0  2011      6     496645.070
1  2011      7     600091.011
2  2011      8     645343.900
3  2011      9     952838.382
4  2011     10    1039318.790
5  2011     11    1161817.380
6  2011     12     333843.510
Country Sales Distribution:
          Country   total_sales
0  United Kingdom  6.878812e+06
1     Netherlands  2.852537e+05
2            EIRE  2.617577e+05
3         Germany  2.224124e+05
4          France  2.043439e+05
5       Australia  1.379042e+05
6           Spain  6.095711e+04
7     Switzerland  5.614055e+04
8         Belgium  4.064160e+04
9          Sweden  3.837833e+04
Basic tests passed.